// Dimensions

$max-height: 1080px;
$header-height: 104px;
$panel-height: 976px;

// Font weight
$font-bolder: 800;
$font-bold: 700;
$font-semi-bold: 600;
$font-regular: 400;
$font-light: 300;

// Colors:
$wash-color: #fefaf5;
$brown-color: #ac4e26;
$green-color: #69781a;
$dark-brown-color: #4d3327;
$white-color: #fafafa;